.black-b{
    background-color: rgb(48, 47, 47);
}

.white-t{
    color: white;
}


.full {
    min-height: 100%;
}

.center{
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.centerself{
    align-self: center;
    justify-self: center;
}